/*Base Classes*/
@media only screen and (min-width: 980px)  {
	.row {
	  margin-left: -20px!important;
	  *zoom: 1!important;
	}

	.row:before,
	.row:after {
	  display: table!important;
	  line-height: 0!important;
	  content: ""!important;
	}

	.row:after {
	  clear: both!important;
	}

	[class*="span"] {
	  float: left!important;
	  min-height: 1px!important;
	  margin-left: 20px!important;
	}

	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
	  width: 940px!important;
	}

	.span12 {
	  width: 940px!important;
	}

	.span11 {
	  width: 860px!important;
	}

	.span10 {
	  width: 780px!important;
	}

	.span9 {
	  width: 700px!important;
	}

	.span8 {
	  width: 620px!important;
	}

	.span7 {
	  width: 540px!important;
	}

	.span6 {
	  width: 460px!important;
	}

	.span5 {
	  width: 380px!important;
	}

	.span4 {
	  width: 300px!important;
	}

	.span3 {
	  width: 220px!important;
	}

	.span2 {
	  width: 140px!important;
	}

	.span1 {
	  width: 60px!important;
	}

	.offset12 {
	  margin-left: 980px!important;
	}

	.offset11 {
	  margin-left: 900px!important;
	}

	.offset10 {
	  margin-left: 820px!important;
	}

	.offset9 {
	  margin-left: 740px!important;
	}

	.offset8 {
	  margin-left: 660px!important;
	}

	.offset7 {
	  margin-left: 580px!important;
	}

	.offset6 {
	  margin-left: 500px!important;
	}

	.offset5 {
	  margin-left: 420px!important;
	}

	.offset4 {
	  margin-left: 340px!important;
	}

	.offset3 {
	  margin-left: 260px!important;
	}

	.offset2 {
	  margin-left: 180px!important;
	}

	.offset1 {
	  margin-left: 100px!important;
	}

	.row-fluid {
	  width: 100%!important;
	  *zoom: 1!important;
	}

	.row-fluid:before,
	.row-fluid:after {
	  display: table!important;
	  line-height: 0!important;
	  content: ""!important;
	}

	.row-fluid:after {
	  clear: both!important;
	}

	.row-fluid [class*="span"] {
	  display: block!important;
	  float: left!important;
	  width: 100%!important;
	  min-height: 30px!important;
	  margin-left: 2.127659574468085%!important;
	  *margin-left: 2.074468085106383%!important;
	  -webkit-box-sizing: border-box!important;
		 -moz-box-sizing: border-box!important;
			  box-sizing: border-box!important;
	}

	.row-fluid [class*="span"]:first-child {
	  margin-left: 0!important;
	}

	.row-fluid .controls-row [class*="span"] + [class*="span"] {
	  margin-left: 2.127659574468085%!important;
	}

	.row-fluid .span12 {
	  width: 100%!important;
	  *width: 99.94680851063829%!important;
	}

	.row-fluid .span11 {
	  width: 91.48936170212765%!important;
	  *width: 91.43617021276594%!important;
	}

	.row-fluid .span10 {
	  width: 82.97872340425532%!important;
	  *width: 82.92553191489361%!important;
	}

	.row-fluid .span9 {
	  width: 74.46808510638297%!important;
	  *width: 74.41489361702126%!important;
	}

	.row-fluid .span8 {
	  width: 65.95744680851064%!important;
	  *width: 65.90425531914893%!important;
	}

	.row-fluid .span7 {
	  width: 57.44680851063829%!important;
	  *width: 57.39361702127659%!important;
	}

	.row-fluid .span6 {
	  width: 48.93617021276595%!important;
	  *width: 48.88297872340425%!important;
	}

	.row-fluid .span5 {
	  width: 40.42553191489362%!important;
	  *width: 40.37234042553192%!important;
	}

	.row-fluid .span4 {
	  width: 31.914893617021278%!important;
	  *width: 31.861702127659576%!important;
	}

	.row-fluid .span3 {
	  width: 23.404255319148934%!important;
	  *width: 23.351063829787233%!important;
	}

	.row-fluid .span2 {
	  width: 14.893617021276595%!important;
	  *width: 14.840425531914894%!important;
	}

	.row-fluid .span1 {
	  width: 6.382978723404255%!important;
	  *width: 6.329787234042553%!important;
	}

	.row-fluid .offset12 {
	  margin-left: 104.25531914893617%!important;
	  *margin-left: 104.14893617021275%!important;
	}

	.row-fluid .offset12:first-child {
	  margin-left: 102.12765957446808%!important;
	  *margin-left: 102.02127659574467%!important;
	}

	.row-fluid .offset11 {
	  margin-left: 95.74468085106382%!important;
	  *margin-left: 95.6382978723404%!important;
	}

	.row-fluid .offset11:first-child {
	  margin-left: 93.61702127659574%!important;
	  *margin-left: 93.51063829787232%!important;
	}

	.row-fluid .offset10 {
	  margin-left: 87.23404255319149%!important;
	  *margin-left: 87.12765957446807%!important;
	}

	.row-fluid .offset10:first-child {
	  margin-left: 85.1063829787234%!important;
	  *margin-left: 84.99999999999999%!important;
	}

	.row-fluid .offset9 {
	  margin-left: 78.72340425531914%!important;
	  *margin-left: 78.61702127659572%!important;
	}

	.row-fluid .offset9:first-child {
	  margin-left: 76.59574468085106%!important;
	  *margin-left: 76.48936170212764%!important;
	}

	.row-fluid .offset8 {
	  margin-left: 70.2127659574468%!important;
	  *margin-left: 70.10638297872339%!important;
	}

	.row-fluid .offset8:first-child {
	  margin-left: 68.08510638297872%!important;
	  *margin-left: 67.9787234042553%!important;
	}

	.row-fluid .offset7 {
	  margin-left: 61.70212765957446%!important;
	  *margin-left: 61.59574468085106%!important;
	}

	.row-fluid .offset7:first-child {
	  margin-left: 59.574468085106375%!important;
	  *margin-left: 59.46808510638297%!important;
	}

	.row-fluid .offset6 {
	  margin-left: 53.191489361702125%!important;
	  *margin-left: 53.085106382978715%!important;
	}

	.row-fluid .offset6:first-child {
	  margin-left: 51.063829787234035%!important;
	  *margin-left: 50.95744680851063%!important;
	}

	.row-fluid .offset5 {
	  margin-left: 44.68085106382979%!important;
	  *margin-left: 44.57446808510638%!important;
	}

	.row-fluid .offset5:first-child {
	  margin-left: 42.5531914893617%!important;
	  *margin-left: 42.4468085106383%!important;
	}

	.row-fluid .offset4 {
	  margin-left: 36.170212765957444%!important;
	  *margin-left: 36.06382978723405%!important;
	}

	.row-fluid .offset4:first-child {
	  margin-left: 34.04255319148936%!important;
	  *margin-left: 33.93617021276596%!important;
	}

	.row-fluid .offset3 {
	  margin-left: 27.659574468085104%!important;
	  *margin-left: 27.5531914893617%!important;
	}

	.row-fluid .offset3:first-child {
	  margin-left: 25.53191489361702%!important;
	  *margin-left: 25.425531914893618%!important;
	}

	.row-fluid .offset2 {
	  margin-left: 19.148936170212764%!important;
	  *margin-left: 19.04255319148936%!important;
	}

	.row-fluid .offset2:first-child {
	  margin-left: 17.02127659574468%!important;
	  *margin-left: 16.914893617021278%!important;
	}

	.row-fluid .offset1 {
	  margin-left: 10.638297872340425%!important;
	  *margin-left: 10.53191489361702%!important;
	}

	.row-fluid .offset1:first-child {
	  margin-left: 8.51063829787234%!important;
	  *margin-left: 8.404255319148938%!important;
	}

	[class*="span"].hide,
	.row-fluid [class*="span"].hide {
	  display: none!important;
	}

	[class*="span"].pull-right,
	.row-fluid [class*="span"].pull-right {
	  float: right!important;
	}

	.container {
	  margin-right: auto!important;
	  margin-left: auto!important;
	  *zoom: 1!important;
	}

	.container:before,
	.container:after {
	  display: table!important;
	  line-height: 0!important;
	  content: ""!important;
	}

	.container:after {
	  clear: both!important;
	}

	.container-fluid {
	  padding-right: 20px!important;
	  padding-left: 20px!important;
	  *zoom: 1!important;
	}

	.container-fluid:before,
	.container-fluid:after {
	  display: table!important;
	  line-height: 0!important;
	  content: ""!important;
	}

	.container-fluid:after {
	  clear: both!important;
	}

	.user_bg_layout .top-slider,
	.user_bg_layout .main_wrapper, 
	.user_bg_layout header, 
	.user_bg_layout .pre_footer, 
	.user_bg_layout footer {
		width:980px!important;
	}

	.user_bg_layout header {
		left:50%!important;
		margin-left:-490px!important;
	}

	/*widgets*/	
	.flickr_widget_wrapper a .flickr_border,
	.dribbble_widget_wrapper a .flickr_border {
		width:55px!important;
		height:55px!important;
	} 
	.widget_flickr .flickr_badge_image,
	.dribbble_widget_wrapper .dribbble_item {
		width:65px!important;
		height:65px!important;
	}	
	.user_bg_layout .ls-container {
		margin-left:-20px!important;
		width:980px!important;
	}	
}

/*IE8 Support*/
.ie8 .row {
  margin-left: -20px!important;
  *zoom: 1!important;
}

.ie8 .row:before,
.ie8 .row:after {
  display: table!important;
  line-height: 0!important;
  content: ""!important;
}

.ie8 .row:after {
  clear: both!important;
}

.ie8 [class*="span"] {
  float: left!important;
  min-height: 1px!important;
  margin-left: 20px!important;
}

.ie8 .container,
.ie8 .navbar-static-top .container,
.ie8 .navbar-fixed-top .container,
.ie8 .navbar-fixed-bottom .container {
  width: 940px!important;
}

.ie8 .span12 {
  width: 940px!important;
}

.ie8 .span11 {
  width: 860px!important;
}

.ie8 .span10 {
  width: 780px!important;
}

.ie8 .span9 {
  width: 700px!important;
}

.ie8 .span8 {
  width: 620px!important;
}

.ie8 .span7 {
  width: 540px!important;
}

.ie8 .span6 {
  width: 460px!important;
}

.ie8 .span5 {
  width: 380px!important;
}

.ie8 .span4 {
  width: 300px!important;
}

.ie8 .span3 {
  width: 220px!important;
}

.ie8 .span2 {
  width: 140px!important;
}

.ie8 .span1 {
  width: 60px!important;
}

.ie8 .offset12 {
  margin-left: 980px!important;
}

.ie8 .offset11 {
  margin-left: 900px!important;
}

.ie8 .offset10 {
  margin-left: 820px!important;
}

.ie8 .offset9 {
  margin-left: 740px!important;
}

.ie8 .offset8 {
  margin-left: 660px!important;
}

.ie8 .offset7 {
  margin-left: 580px!important;
}

.ie8 .offset6 {
  margin-left: 500px!important;
}

.ie8 .offset5 {
  margin-left: 420px!important;
}

.ie8 .offset4 {
  margin-left: 340px!important;
}

.ie8 .offset3 {
  margin-left: 260px!important;
}

.ie8 .offset2 {
  margin-left: 180px!important;
}

.ie8 .offset1 {
  margin-left: 100px!important;
}

.ie8 .row-fluid {
  width: 100%!important;
  *zoom: 1!important;
}

.ie8 .row-fluid:before,
.ie8 .row-fluid:after {
  display: table!important;
  line-height: 0!important;
  content: ""!important;
}

.ie8 .row-fluid:after {
  clear: both!important;
}

.ie8 .row-fluid [class*="span"] {
  display: block!important;
  float: left!important;
  width: 100%!important;
  min-height: 30px!important;
  margin-left: 2.127659574468085%!important;
  *margin-left: 2.074468085106383%!important;
  -webkit-box-sizing: border-box!important;
	 -moz-box-sizing: border-box!important;
		  box-sizing: border-box!important;
}

.ie8 .row-fluid [class*="span"]:first-child {
  margin-left: 0!important;
}

.ie8 .row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%!important;
}

.ie8 .row-fluid .span12 {
  width: 100%!important;
  *width: 99.94680851063829%!important;
}

.ie8 .row-fluid .span11 {
  width: 91.48936170212765%!important;
  *width: 91.43617021276594%!important;
}

.ie8 .row-fluid .span10 {
  width: 82.97872340425532%!important;
  *width: 82.92553191489361%!important;
}

.ie8 .row-fluid .span9 {
  width: 74.46808510638297%!important;
  *width: 74.41489361702126%!important;
}

.ie8 .row-fluid .span8 {
  width: 65.95744680851064%!important;
  *width: 65.90425531914893%!important;
}

.ie8 .row-fluid .span7 {
  width: 57.44680851063829%!important;
  *width: 57.39361702127659%!important;
}

.ie8 .row-fluid .span6 {
  width: 48.93617021276595%!important;
  *width: 48.88297872340425%!important;
}

.ie8 .row-fluid .span5 {
  width: 40.42553191489362%!important;
  *width: 40.37234042553192%!important;
}

.ie8 .row-fluid .span4 {
  width: 31.914893617021278%!important;
  *width: 31.861702127659576%!important;
}

.ie8 .row-fluid .span3 {
  width: 23.404255319148934%!important;
  *width: 23.351063829787233%!important;
}

.ie8 .row-fluid .span2 {
  width: 14.893617021276595%!important;
  *width: 14.840425531914894%!important;
}

.ie8 .row-fluid .span1 {
  width: 6.382978723404255%!important;
  *width: 6.329787234042553%!important;
}

.ie8 .row-fluid .offset12 {
  margin-left: 104.25531914893617%!important;
  *margin-left: 104.14893617021275%!important;
}

.ie8 .row-fluid .offset12:first-child {
  margin-left: 102.12765957446808%!important;
  *margin-left: 102.02127659574467%!important;
}

.ie8 .row-fluid .offset11 {
  margin-left: 95.74468085106382%!important;
  *margin-left: 95.6382978723404%!important;
}

.ie8 .row-fluid .offset11:first-child {
  margin-left: 93.61702127659574%!important;
  *margin-left: 93.51063829787232%!important;
}

.ie8 .row-fluid .offset10 {
  margin-left: 87.23404255319149%!important;
  *margin-left: 87.12765957446807%!important;
}

.ie8 .row-fluid .offset10:first-child {
  margin-left: 85.1063829787234%!important;
  *margin-left: 84.99999999999999%!important;
}

.ie8 .row-fluid .offset9 {
  margin-left: 78.72340425531914%!important;
  *margin-left: 78.61702127659572%!important;
}

.ie8 .row-fluid .offset9:first-child {
  margin-left: 76.59574468085106%!important;
  *margin-left: 76.48936170212764%!important;
}

.ie8 .row-fluid .offset8 {
  margin-left: 70.2127659574468%!important;
  *margin-left: 70.10638297872339%!important;
}

.ie8 .row-fluid .offset8:first-child {
  margin-left: 68.08510638297872%!important;
  *margin-left: 67.9787234042553%!important;
}

.ie8 .row-fluid .offset7 {
  margin-left: 61.70212765957446%!important;
  *margin-left: 61.59574468085106%!important;
}

.ie8 .row-fluid .offset7:first-child {
  margin-left: 59.574468085106375%!important;
  *margin-left: 59.46808510638297%!important;
}

.ie8 .row-fluid .offset6 {
  margin-left: 53.191489361702125%!important;
  *margin-left: 53.085106382978715%!important;
}

.ie8 .row-fluid .offset6:first-child {
  margin-left: 51.063829787234035%!important;
  *margin-left: 50.95744680851063%!important;
}

.ie8 .row-fluid .offset5 {
  margin-left: 44.68085106382979%!important;
  *margin-left: 44.57446808510638%!important;
}

.ie8 .row-fluid .offset5:first-child {
  margin-left: 42.5531914893617%!important;
  *margin-left: 42.4468085106383%!important;
}

.ie8 .row-fluid .offset4 {
  margin-left: 36.170212765957444%!important;
  *margin-left: 36.06382978723405%!important;
}

.ie8 .row-fluid .offset4:first-child {
  margin-left: 34.04255319148936%!important;
  *margin-left: 33.93617021276596%!important;
}

.ie8 .row-fluid .offset3 {
  margin-left: 27.659574468085104%!important;
  *margin-left: 27.5531914893617%!important;
}

.ie8 .row-fluid .offset3:first-child {
  margin-left: 25.53191489361702%!important;
  *margin-left: 25.425531914893618%!important;
}

.ie8 .row-fluid .offset2 {
  margin-left: 19.148936170212764%!important;
  *margin-left: 19.04255319148936%!important;
}

.ie8 .row-fluid .offset2:first-child {
  margin-left: 17.02127659574468%!important;
  *margin-left: 16.914893617021278%!important;
}

.ie8 .row-fluid .offset1 {
  margin-left: 10.638297872340425%!important;
  *margin-left: 10.53191489361702%!important;
}

.ie8 .row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%!important;
  *margin-left: 8.404255319148938%!important;
}

.ie8 [class*="span"].hide,
.ie8 .row-fluid [class*="span"].hide {
  display: none!important;
}

.ie8 [class*="span"].pull-right,
.ie8 .row-fluid [class*="span"].pull-right {
  float: right!important;
}

.ie8 .container {
  margin-right: auto!important;
  margin-left: auto!important;
  *zoom: 1!important;
}

.ie8 .container:before,
.ie8 .container:after {
  display: table!important;
  line-height: 0!important;
  content: ""!important;
}

.ie8 .container:after {
  clear: both!important;
}

.ie8 .container-fluid {
  padding-right: 20px!important;
  padding-left: 20px!important;
  *zoom: 1!important;
}

.ie8 .container-fluid:before,
.ie8 .container-fluid:after {
  display: table!important;
  line-height: 0!important;
  content: ""!important;
}

.ie8 .container-fluid:after {
  clear: both!important;
}

.ie8 .user_bg_layout .top-slider,
.ie8 .user_bg_layout .main_wrapper, 
.ie8 .user_bg_layout header, 
.ie8 .user_bg_layout .pre_footer, 
.ie8 .user_bg_layout footer {
	width:980px!important;
}

.ie8 .user_bg_layout header {
	left:50%!important;
	margin-left:-490px!important;
}

/*widgets*/	
.ie8 .flickr_widget_wrapper a .flickr_border,
.ie8 .dribbble_widget_wrapper a .flickr_border {
	width:55px!important;
	height:55px!important;
} 
.ie8 .widget_flickr .flickr_badge_image,
.ie8 .dribbble_widget_wrapper .dribbble_item {
	width:65px!important;
	height:65px!important;
}	
.ie8 .user_bg_layout .ls-container {
	margin-left:-20px!important;
	width:980px!important;
}	
