/* *** nivo-slider.css *** */
/*
 * jQuery Nivo Slider v3.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0;
	left:0;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0;
	bottom:0;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	filter:alpha(opacity=8);
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	width:43px;
	height:43px;
	position:absolute;
	top:50%;
	margin-top:-22px;
	display:block;
	z-index:777;
	text-indent:-9999px;
	cursor:pointer;
	opacity: 0;
	background:#404040;
    transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.slider-wrapper {
	min-height:20px;	
}

.slider-wrapper:hover .nivo-prevNav,
.slider-wrapper:hover .nivo-nextNav {
	opacity: 0.999;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.slider-wrapper .nivo-prevNav:before,
.slider-wrapper .nivo-nextNav:before {
	content:'';
	width:19px;
	height:19px;
	display:block;
	position:absolute;
	left:12px;
	top:12px;
}
.nivo-prevNav {
	left:0;
}
.nivo-nextNav {
	right:0;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
}
.nivo-controlNav a {
	cursor:pointer;
}

/*CustomCSS*/
.slider-wrapper {
	position:relative;
}
.nivo-controlNav {
	display:block!important;
	position:absolute;
	bottom:20px;
	left:0;
	width:100%;
	text-align:center;
	z-index:99;

}
.nivo-controlNav a {
	text-indent:-10000px!important;
	overflow:hidden;
	display:inline-block;
	width:10px;
	height:10px;
	background:#ffffff;
	border-radius:100%;
	opacity:0.5;
	margin:0 4px;
}
.nivo-controlNav a.active {
	opacity:1;	
}

/*Layer Slider*/
/* Direction nav styles (e.g. Next & Prev) */
.ls-container .ls-nav-prev,
.ls-container .ls-nav-next {
	width:20px!important;
	height:32px!important;
	position:absolute!important;
	top:50%!important;
	margin-top:-16px!important;
	z-index:777!important;
	text-indent:-9999px!important;
	cursor:pointer!important;
/*	opacity: 0.99!important;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)!important;*/
    transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
}
body .ls-noskin .ls-nav-prev, 
body .ls-noskin .ls-nav-next {
	display:block;
}

.ls-container .ls-nav-prev:hover,
.ls-container .ls-nav-next:hover {
	opacity: 0.5!important;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50)!important;
}
.ls-nav-prev {
	left:70px!important;
}
.ls-nav-next {
	right:70px!important;
}
.module_layer_slider .ls-nav-prev {
	background:url(../img/trend_icons.png) no-repeat -200px 0;
}
.module_layer_slider .ls-nav-next {
	background:url(../img/trend_icons.png) no-repeat -220px 0;
}


/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
}
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
