.color_list .color_item .color1 {
	background-color:#95ba00;
}
/*DemoPanel.css*/
.demo_panel {
	display:block;
	width:210px;
	height:auto;
	position:fixed;
	left:-210px;
	top:120px;
	z-index:999;
	text-align:left;
	transition: all 400ms;
	-webkit-transition: all 400ms;
}
.demo_panel.showed {
	left:0px;
}
.demo_panel.opacity {
	opacity: 0; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);	
}

.panel_toggler {
	width:40px;
	height:40px;
	right:-40px;
	top:0px;
	position:absolute;
	overflow:hidden;

	transition: all 400ms;
	-webkit-transition: all 400ms;
}
.panel_toggler:hover {
	background:#212830!important;
}
.panel_toggler:before {
	content:'';
	display:block;
	position:absolute;
	left:6px;
	top:6px;
	width:28px;
	height:28px;
	background:url(img/btn_panel.png) no-repeat;	
}


.demo_panel .panel_title {
	height:40px;
	line-height:40px;
	font-size:14px;
	font-weight:700;
	color:#ffffff;
	display:block;
	overflow:hidden;
	text-transform:uppercase;
	padding-left:20px;
	background:#212830;
}

.demo_panel_body {
	background:#ffffff;
	border-bottom:3px solid #e1e2e3;
	display:block;
	overflow:hidden;
	transition: all 400ms;
	-webkit-transition: all 400ms;
}
.demo_panel .panel_sub-title {
	font-size:12px;
	color:#616367;
	margin-bottom:8px;
	padding:0;
}
.demo_panel .color_panel {
	padding:14px 0px 18px 20px;
}
.color_list .color_item {
	width:30px;
	height:30px;
	background:#464d52;
	display:inline-block;
	position:relative;
	margin:0 4px 4px 0!important;
}
.color_list .color_item a {
	display:block;
	width:30px;
	height:30px;
}

.demo_text {
	padding:14px 10px 10px 10px;
	border-top:#e1e2e3 1px solid;
}
.demo_text .panel_sub-title {
	text-align:center;
	text-transform:uppercase;
}

.demo_panel .panel_tagline,
.demo_panel .panel_headers {
	padding:14px 0px 14px 20px;
	border-top:#e1e2e3 1px solid;
}
.demo_panel .panel_tagline .panel_sub-title,
.demo_panel .panel_headers .panel_sub-title {
	cursor:pointer;
}

.demo_panel .panel_tagline a,
.demo_panel .panel_headers a {
	height:16px;
	padding-left:16px;
	background:url(img/option.png) no-repeat 0px 3px;
	color:#616367;
	font-size:12px;
	line-height:15px;
}
.demo_panel .panel_tagline a.current,
.demo_panel .panel_headers a.current {
	background:url(img/option_selected.png) no-repeat 0px 3px;
}
.demo_panel .panel_tagline .panel_sub-title,
.demo_panel .panel_headers .panel_sub-title {
	margin-bottom:0;
	padding-right:40px;
	position:relative;
}
.demo_panel .panel_tagline .panel_sub-title:before,
.demo_panel .panel_headers .panel_sub-title:before {
	content:'';
	position:absolute;
	right:20px;
	top:7px;
	width:9px;
	height:5px;
	display:block;
	background:url(img/panel_arrow.png) no-repeat top;
	transition: opacity 400ms;
	-webkit-transition: opacity 400ms;
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.demo_panel .panel_tagline .panel_sub-title:hover:before,
.demo_panel .panel_headers .panel_sub-title:hover:before {
	opacity: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.demo_panel .panel_tagline.showed .panel_sub-title:before,
.demo_panel .panel_headers.showed .panel_sub-title:before {
	background:url(img/panel_arrow.png) no-repeat bottom;
}

.panel_headers .header_item:first-child,
.panel_tagline .tagline_item:first-child {
	margin-top:8px!important;
}
.panel_headers .header_item:last-child,
.panel_tagline .header_item:last-child {
	margin-bottom:4px;
}

.demo_panel .panel_layouts {
	padding:14px 0px 18px 20px;
	border-top:#e1e2e3 1px solid;
}
.demo_panel .panel_layouts a {
	height:16px;
	display:block;
	padding-left:16px;
	background:url(img/option.png) no-repeat 0px 3px;
	color:#616367;
	font-size:12px;
	line-height:15px;
}
.demo_panel .panel_layouts a.current {
	background:url(img/option_selected.png) no-repeat 0px 3px;
}

.panel_patterns {
	display:none;
	padding:14px 0px 11px 20px;
	border-top:#e1e2e3 1px solid;
}
.panel_patterns .pattern_item {
	width:30px;
	height:30px;
	display:inline-block;
	margin:0 4px 4px 0!important;
	float:left;
}
.panel_patterns .pattern_item a {
	width:30px;
	height:30px;
	background:#464d52;
	display:inline-block;
	margin-right:10px;
	float:left;
}
.panel_patterns .pattern_item .pattern1 {
	background:url(img/ico_pattern1.jpg) repeat;
}
.panel_patterns .pattern_item .pattern2 {
	background:url(img/ico_pattern2.jpg) repeat;
}
.panel_patterns .pattern_item .pattern3 {
	background:url(img/ico_pattern3.jpg) repeat;
}
.panel_patterns .pattern_item .pattern4 {
	background:url(img/ico_pattern4.jpg) repeat;
}
.panel_patterns .pattern_item .pattern5 {
	background:url(img/ico_pattern5.jpg) repeat;
}

.panel_images {
	display:none;
	padding:14px 0px 11px 20px;
	border-top:#e1e2e3 1px solid;	
}
.panel_images .bgimg_item {
	width:30px;
	height:30px;
	display:inline-block;
	margin:0 4px 4px 0!important;
	float:left;
}
.panel_images .bgimg_item a {
	width:30px;
	height:30px;
	background:#464d52;
	display:inline-block;
	margin-right:10px;
	float:left;
}
.panel_images .bgimg_item .item_img1 {
	background:#c2c7ca url(img/ico_pic1.jpg) no-repeat;
}
.panel_images .bgimg_item .item_img2 {
	background:#c2c7ca url(img/ico_pic2.jpg) no-repeat;
}
.panel_images .bgimg_item .item_img3 {
	background:#c2c7ca url(img/ico_pic3.jpg) no-repeat;
}
.panel_images .bgimg_item .item_img4 {
	background:#c2c7ca url(img/ico_pic4.jpg) no-repeat;
}
.panel_images .bgimg_item .item_img5 {
	background:#c2c7ca url(img/ico_pic5.jpg) no-repeat;
}

.bg_pattern1 {
	background:url(img/pattern01.png) repeat!important;
}
.bg_pattern2 {
	background:url(img/pattern02.png) repeat!important;
}
.bg_pattern3 {
	background:url(img/pattern03.png) repeat!important;
}
.bg_pattern4 {
	background:url(img/pattern04.png) repeat!important;
}
.bg_pattern5 {
	background:url(img/pattern05.png) repeat!important;
}

.bg_img1 {
	background-image:url(img/bg_img1.jpg)!important;
}
.bg_img2 {
	background-image:url(img/bg_img2.jpg)!important;
}
.bg_img3 {
	background-image:url(img/bg_img3.jpg)!important;
}
.bg_img4 {
	background-image:url(img/bg_img4.jpg)!important;
}
.bg_img5 {
	background-image:url(img/bg_img5.jpg)!important;
}

.ie8 .demo_panel {
	display:none!important;
}
@media only screen and (max-width: 1200px) {
	.demo_panel { 
		display:none!important;
	}
}

.color_list {
	overflow:hidden;
}
.color_list .color_item  {
	float:left;
}

.btn_apply-li,
.btn_reset-li {
	display:inline-block!important;
	float:left!important;	
}

.btn_apply.shortcode_button.btn_small,
.btn_reset-color.shortcode_button.btn_small {
	padding:0 15px!important;
	margin:0 4px 0 0!important;
	line-height:30px!important;
	font-size:12px!important;
}

.color_list .color_item .cpicker {
	border:none!important;
	box-shadow:inset 0 -3px 0 rgba(0,0,0,0.3)!important;
	font-size:13px!important;
	padding:0!important;
	width:30px;
	height:30px;
	display:block;
	opacity: 0; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	cursor:pointer;
	position:absolute;
	left:0px;
	top:0px;
}
.color_list .color_item .cpicker_preview {
	border:none!important;
	box-shadow:inset 0 -3px 0 rgba(0,0,0,0.2)!important;	
	padding:0!important;
	width:30px;
	height:30px;
	display:block;
	text-indent:-9999px;
}

/*ColorPicker.css*/
.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(img/cpicker/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	z-index:999;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(img/cpicker/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(img/cpicker/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(img/cpicker/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #616367;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(img/cpicker/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(img/cpicker/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(img/cpicker/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(img/cpicker/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(img/cpicker/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(img/cpicker/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(img/cpicker/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(img/cpicker/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}

.colorpicker input {
	border:none!important;
	box-shadow:none!important;
	width:100%!important;
}